---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  // Fetch blog posts
  const posts = await getCollection('projects')

  // Return array of url slugs
  return posts.map(post => ({
    params: { id: post.id },
    props: { post }
  }))
}

const { post } = Astro.props

// Render markdown content
const { Content } = await render(post)
---

<Layout title={post.data.title} category="projects">
  <h1>{post.data.title}</h1>
  <p>Author: {post.data.author}</p>

  <div>
    <Content />
  </div>
</Layout>